---
import FormattedDate from "@components/FormattedDate.astro";
import TagLink from "@components/TagLink.astro";
import BlogHeroImg from "@components/BlogHeroImg.astro";

interface Props{
    post: any;
}

const {post} = Astro.props;
---

<div class="flex gap-2 justify-between pb-4">
    <div class="flex flex-col gap-2">
        <a class="font-bold text-lg" id="title" href={`/blog/${post.slug}`} aria-labelledby="title">
            {post.data.title}
        </a>
        <p>{post.data.description}</p>
        <div class="flex gap-2">
            {post.data.tags?.map((i: any) => {
            return <TagLink tag={i} />;
            })}
        </div>
        <div class="text-gray-500 dark:text-neutral-400 text-xs font-medium"><FormattedDate date={post.data.pubDate} /></div>
    </div>
    <div class="flex-none w-1/3">
        <a href={`/blog/${post.slug}`} aria-labelledby="title">
        <BlogHeroImg
            src={post.data.heroImage}
            alt=""
            class="bg-contain border border-gray-200"
        />
        </a>
    </div>
</div>