---
import '@styles/markdown.css';

import type { CollectionEntry } from "astro:content";

import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import AlertHead from "@components/AlertHead.astro"
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import TagLink from "@components/TagLink.astro";

import BlogHeroImg from "@components/BlogHeroImg.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, heroAlt = "", tags, draft = false, minutesRead = "5 min read" } = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header/>
    {draft && <AlertHead alertTitle="Draft" description="This article is currently a draft. URL and text may change." shrinkable/>}
    <main>
      <article class="px-4">
        <div class="flex w-100 mx-auto justify-center">
          <h1 class="text-center text-5xl my-4">
            {title}
          </h1>
        </div>
        <div class="text-gray-500 dark:text-gray-400 text-s font-medium flex justify-between mb-2">
          <div><FormattedDate date={pubDate}/>{updatedDate && (<span> &#40;Updated <FormattedDate date={updatedDate}/>&#41;</span>)}</div>
          <p class=" tracking-wide">
            {minutesRead}
          </p>
        </div>
        <div>
          {
            heroImage && (
              <BlogHeroImg src={heroImage} alt={heroAlt} class="md:max-h-10"/>
            )
          }
        </div>
        <div id="postcontent">
          <slot/>
        </div>
        <div class="flex flex-row gap-2 my-10">
          {
            tags && (
                <h1 class="flex text-xl"> Tags: </h1>
                <ul class="flex gap-2">
                  {tags.map((tag: any) => (
                    <li>
                      <TagLink tag={tag} />
                    </li>
                  ))}
                </ul>
            )
          }
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
