---
import type { CollectionEntry } from "astro:content";

import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import AlertHead from "@components/AlertHead.astro"
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import TagLink from "@components/TagLink.astro";

import BlogHeroImg from "@components/BlogHeroImg.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags, draft = false } = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header/>
    {draft && <AlertHead alertTitle="Draft" description="This article is currently a draft. URL and text may change." shrinkable/>}
    <main>
      <article class="px-4">
        <div class="flex w-100 justify-center">
          <h1 class="text-5xl my-4">
            {title}
          </h1>
        </div>
        <div class="text-gray-500 dark:text-neutral-400 text-xs font-medium flex justify-between mb-2">
          <div><FormattedDate date={pubDate} /> {updatedDate && (<span>( Updated <FormattedDate date={updatedDate}/>)</span>)}</div>
          <p class="text-gray-500 dark:text-neutral-400 text-xs font-medium tracking-wide">
            5 min read
          </p>
        </div>
        <div>
          {
            heroImage && (
              <BlogHeroImg src={heroImage} alt="" class="md:max-h-10"/>
            )
          }
        </div>
        <div id="content" class="mt-10">
          <slot/>
        </div>
        <div class="flex flex-row gap-2 my-10">
          {
            tags && (
                <h1 class="flex text-xl"> Tags: </h1>
                <ul class="flex gap-2">
                  {tags.map((tag: any) => (
                    <li>
                      <TagLink tag={tag} />
                    </li>
                  ))}
                </ul>
            )
          }
        </div>
      </article>
    </main>
    <Footer />
  </body>

  <style is:inline>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    /* Markdown Styles */
    #content {
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px 0;
      }

      /* Headings */
      h1, h2, h3, h4, h5, h6 {
          color: var(--grey-900);
          margin-top: 16px;
          margin-bottom: 8px
          font-weight: bold;
      }

      h1 { 
        font-size: 32px;

      }
      h2 { font-size: 28px; }
      h3 { font-size: 24px; }
      h4 { font-size: 20px; }
      h5 { font-size: 18px; }
      h6 { font-size: 16px; }

      /* Paragraphs */
      p {
          margin-top: 0;
          margin-bottom: 16px;
          @apply text-justify
      }

      /* Blockquotes */
      blockquote {
          border-left: 4px solid #ccc;
          padding: 10px 20px;
          margin: 20px 0;
          color: #666;
          background-color: #f9f9f9;
          @apply dark:bg-neutral-700 text-white border-l-4 border-neutral-500; 
      }

      /* Code Blocks and Inline Code */

      pre {
          padding: 10px;
          overflow-x: auto;
          margin-top: 0;
          margin-bottom: 16px;
      }

      code {
          padding: 2px 4px;
          font-family: 'Courier New', monospace;
          font-size: 90%;
      }

      /* Tables */
      table {
          width: 100%;
          margin-bottom: 20px;
          border-collapse: collapse;
      }

      th, td {
          padding: 8px;
          border: 1px solid #ddd;
      }

      th {
          background-color: #f4f4f4;
          @apply dark:bg-neutral-700;
      }

      /* Lists */
      .footnotes ul, ol {
          margin-top: 0;
          margin-bottom: 16px;
          padding-left: 20px;
          list-style: outside;
      }

      /* Special HTML Tags */
      abbr {
          border-bottom: 1px dotted #666;
          cursor: help;
      }

      kbd {
          padding: 2px 4px;
          font-size: 90%;
          color: #fff;
          background-color: #333;
          border-radius: 3px;
      }

      mark {
          background-color: yellow;
          color: black;
      }

      sup, sub {
          font-size: 75%;
          line-height: 0;
          position: relative;
          vertical-align: baseline;
      }

      sup { top: -0.5em; }
      sub { bottom: -0.25em; }
    }

  </style>

</html>
